*{
  margin: 0;
  padding: 0;
}

#app {
  width: 1280px;
  height: 800px;
  margin: 0 auto ;
  background-image: url(images/background@2x.png);
  background-size: 1280px 252px;
  background-repeat: no-repeat; /*繰り返しを中止*/
  position: relative;
  overflow: hidden;
}

.layer{
  position: absolute;
}

#logo-customcast{
  z-index: 2;
  top: 10px;
  left: 10px;
}

#start-charactor{
  z-index: 1;
}

#logo{
  z-index: 3;
  top: 324px;
  left: 50%;
  transform: translateX(-50%);
}

#btn-start{
  z-index: 2;
  bottom: 47px;
  left: 50%;
  transform: translateX(-50%);
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}