*{
  margin: 0;
  padding: 0;
}
/* 背景 */
#app {
  width: 1280px;
  height: 800px;
  margin: 0 auto ;
  background-image: url(images/background@2x.png);
  background-size: 1280px 252px;
  background-repeat: no-repeat; /*繰り返しを中止*/
  position: relative;
  overflow: hidden;
}

/* 背景以外のトップページ画像 */
.layer{
  position: absolute;
}

#logo-customcast{
  z-index: 2;
  top: 10px;
  left: 10px;
}

#start-charactor{
  z-index: 1;
}

#logo{
  z-index: 3;
  top: 324px;
  left: 50%;
  transform: translateX(-50%);
}

#btn-start{
  z-index: 2;
  bottom: 47px;
  left: 50%;
  transform: translateX(-50%);
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

/* 結果画面 */
.result-screen,
.result{
  display: none;
}

.charactor{
  z-index: 1;
}

.omikuji{
  top: 20px;
  right: 40px;
  z-index: 2;
}

.textarea{
  width: 1200px;
  height: 248px;
  background: #E8556A;
  color: #fff;
  font-size: 60px;
  border-radius: 30px 30px 0 0;
  padding: 20px 80px;
  box-sizing: border-box;
  top: 582px;
  right: 48px;
  z-index: 1;
}

/* ボタンアニメーション */
.fuwafuwa {
  animation:fuwafuwa 2s infinite ease-in-out alternate;
}

@keyframes fuwafuwa {
  0% {transform:translate(-50%,0);}
  50% {transform:translate(-50%,-10px);}
  100% {transform:translate(-50%,0);}
}